SESSION_SECRET="nW6BqrHP/IepTxlLtuGMuXCCsEa1E9pje0rtAD18swE="
SESSION_EXPIRY_TIME=1m

COOKIE_DOMAIN=farealstate.com

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=real
POSTGRES_HOST=localhost

REDIS_URL=redis://localhost:6379

DATABASE_URL=postgresql://user:password@localhost:5432/real
PORT=3000

ALLOWED_ORIGINS="http://localhost:3001"

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=Password@123
