DATABASE_URL=postgresql://db_user:db_password@localhost:5432/real_state
PORT=3000
JWT_SECRET=techkraft_secret

POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_PORT=5432
POSTGRES_DB=real_state
POSTGRES_HOST=localhost
