JWT_SECRET=techkraft_secret
ACCESS_TOKEN_EXPIRY_TIME=15m
REFRESH_TOKEN_EXPIRY_TIME=15d

COOKIE_DOMAIN=farealstate.com

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=real
POSTGRES_HOST=localhost

DATABASE_URL=postgresql://user:password@localhost:5432/real
PORT=3000

ALLOWED_ORIGINS="http://localhost:3001"

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=Password@123
